
/*body{
    background-color: goldenrod;
    padding:20px;
    text-align: center;
}
p{
    background-color: red;
    border-color: black;
    padding: 10px;
    margin: 10px;
    
}
div{
    background-color: black;
    padding: 5px;
}*/
body
{
    background-color: bisque;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logotipo_header
{
    text-align: center;
}
#imagem_header
{
    width: 50%;
}
nav
{
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
footer
{
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
header div{
    max-height: 40%;
}
.butoes_redesociais img{
    margin: 1px;
    height: 20px;
}
.div_butoes_redessociais
{
    margin: 5px 5px;
}
.butoes_redesociais
{
    display: inline;
    margin: 0 5px;
    border-radius: 4px;
    padding: 5px;
}
.butoes_redesociais i{
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
    width: 40px;
    border-radius: 4px;
    color: black;
}

#links_paginas a{
    color: black;
    margin: 0 5px;
    font-weight: bold;
}
p{
    text-align: justify;
}
main
{
    padding: 0 10px;
}


