:root{
    --branco:white;
    --roxo : #2c150d;
    --purple : rgb(154, 12, 248);
}


body{
    background-image: url("files\img\logo.png");
    background-color: black;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.text-white{
    color: var(--branco);
}
.text-purple{
    color: var(--purple);
}
.border-purple{
    border-color: #7232aa;
    border-style: solid;
}

header{
    max-width: 100%;
    margin-inline: auto;
    font-weight: bold;
    color: var(--whiteColor);
    background-color: #1a063b;
}
.hrNavBar{
    border: solid 0.5px white;
    color: var(--whiteColor);
    width: 100%;
    background-color: white;
}
main{
    max-width: 100%;
    margin: auto;
}
.backgroundImage{
    background-image: url("hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    height: 700px;
    border-radius: 5px;
    background-position: 50%;
}

.backgroundImage2{
    background-image: url("imagemp2p.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
}

.roxoBackground{
    background-color: #19194b;
}

.supportBackground{
    background-color: #170c2a;
}

#card h1{
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    color: #7232aa;
}

#card h2{
    font-size: 50px;
}

.blueBackground{
    background-color: #321a92;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.main2{
    height: 100vh;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}






